
* {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

html, body {
    margin: 0;
    height: 100%;
}

.bg-main-color {
    background: #ff828b;
}

.bg-accent-color {
    background: #ff4a57;
}

.subtitle-color {
    color: #a4a4a4;
}

.offset-color {
    color: #ebebeb;
}

.success-color {
    color: #7fe1ad;
}

.negative-color {
    color: #de4343;
}

.offset-color {
    color: #ebebeb;
}

/*HELPERS*/

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.nav-bar .options.ripple:active {
    background: #282828;
    background-size: 100%;
    transition: background 0s;
}

.nav-bar .ripple:active {
    background: #ffbcc2;
    background-size: 100%;
    transition: background 0s;
}

.error {
    padding-top: 3px;
    color: red;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.content-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.subtitle {
    font-weight: 600;
    color: #a4a4a4;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-center {
    text-align: center;
}

.sad-face {
    width: 50%;
    max-width: 170px;
}

.badge {
    text-transform: uppercase;
    color: white;
    border-radius: 8px;
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
}

.badge.success {
    background: #7fe1ad;
}

.badge.negative {
    background: #de4343;
}

/* NAV BAR */

main {
    padding-bottom: 70px;
}

.nav-bar {
    background: #ff828b;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.nav-bar > div {
    display: flex;
    padding: 0 0 6px 0;
    align-items: center;
    width: 33%;
    flex-direction: column;
}

.nav-bar .main {
    background: #ff4a57;
    border-radius: 100%;
    justify-content: center;
    width: 80px;
    height: 71px;
    margin: 0 0 46px 0;
    display: none;
}

.nav-bar .main.active {
    display: flex;
}

.nav-bar .icon {
    width: 33px;
    color: white !important;
}

/*MENU*/
.menu {
    list-style: none;
    overflow: hidden;
    background-color: white;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    position: absolute;
    margin: 15px 20px 0 0;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    z-index: 3;
}

.menu.closed {
    height: 0 !important;
}

.menu li {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 10px;
}

.menu li:not(:last-child) {
    border-bottom: solid 1px #ebebeb;
}

.menu li img{
    margin-right: 6px;
}

/*APP*/
.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.template, .templates {
    display: none !important;
}

header {
    padding: 1.5rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

header .logo{
    display: flex;
    align-items: center;
    font-weight: bold;
}

header .logo img{
    width: 60px;
    padding-right: 6px;
}

header > .title {
    font-weight: 600;
    font-size: 1.6rem;
    display: none;
}

header > .title.active {
    display: block;
}

.page {
    display: none;
    padding: 1.5rem;
    flex-direction: column;
}

.page.active {
    display: flex;
}

.page .input-wrapper {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 600;
    color: #ff828b;
}

form input, form select {
    min-height: 30px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #ebebeb;
    background: white;
}

.amount > div {
    display: flex;
    align-items: flex-end;
}

.amount span {
    border-bottom: 2px solid #ebebeb;
    font-size: 2rem;
}

.amount label {
    font-size: 1.6rem;
    text-align: center;
}

.amount input {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    border-radius: 0;
}

.list {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.list > div:not(:first-child) {
    margin-top: 15px;
}

.btn {
    width: 100%;
    min-height: 30px;
    border: none;
}

.home {
    display: flex;
    flex-direction: column;
}

.home .title {
    text-align: right;
    font-weight: 600;
}

.home .charts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.home .charts .type {
    color: #a4a4a4;
    text-align: center;
    font-weight: 600;
    padding-bottom: 6px;
}

.home .charts .chart {
    border-radius: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    background: white;
    position: relative;
    margin-top: 10px;
    font-weight: 600;
    color: #0c59cf;
}

.charts > div:first-child .chart {
    color: #e61610 !important;
}

.charts > div:last-child .chart {
    color: #606060 !important;
}

.chart::before {
    border-radius: 100%;
    content: '';
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    position: absolute;
    z-index:-1;
    background-image: linear-gradient(to bottom, #ebebeb 50%, #0c59cf 50%);
}

.charts > div:first-child .chart::before {
    background-image: linear-gradient(to bottom, #ebebeb 50%, #e61610 50%);
}

.charts > div:last-child .chart::before {
    background-image: linear-gradient(to bottom, #ebebeb 50%, #606060 50%);
}

.home .status {
    display: none;
}

.home .status.active {
    display: flex;
}

.home .section {
    padding-bottom: 1rem;
}

.home hr {
    height: 4px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(to left,  black 45%,#ebebeb 45%);
}

.home .icon {
    margin-bottom: 3px;
    padding-right: 5px;
}

.home table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 1rem;
}

.home table tr:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
}

.home table th {
    width: 60%;
    font-weight: 400;
}

.home table th > div{
    display: flex;
    align-items: center;
}

.home table td {
    text-align: right;
    font-weight: 600;
    color: #a4a4a4;
}

.expense {
    display: flex;
    border: black solid 2px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    line-height: 1;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
}

.expense .amount {
    padding-top: 2rem;
    color: #ff4a57;
}

.expense div > div {
    display: flex;
    align-items: center;
}

.expense .date {
    font-size: 15px;
    color: #a4a4a4;
    padding-top: 5px;
}

.expense .type {
    padding-top: 1rem;
    font-weight: 400;
}

.expense .icon {
    margin-bottom: 3px;
}

.expense-type {
    display: flex;
    border: black solid 2px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    line-height: 1;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
}

.expense-type .icon {
    padding-right: 3px;
    margin-bottom: 3px;
}

.expense-type .limit {
    color: #ff4a57;
}

.expense-type .options img {
    padding-left: 5px;
}
